# Lab 2 - Spark SQL
This lab will show you how to work with SparkSQL.  It's meant to be self-guided, but don't hesitate to ask your presentor for help.

## Step 1 - Getting started: Create a SQL Context

Type:<br>

from pyspark.sql import SQLContext<br>
sqlContext = SQLContext(sc)

In [ ]:
#Import the SparkSQL library and start the connection to Spark

## Step 2 - Download a JSON Recordset to work with
Let's download the data, we can run commands on the console of the server (or docker image) that the notebook environment is using. To do so we simply put a "!" in front of the command that we want to run. For example:

!pwd

To get the data we will download a file to the environment. Simple run these two commands, the first just ensures that the file is removed if it exists:

!rm world_bank.json.gz -f <br>
!wget https://raw.githubusercontent.com/bradenrc/sparksql_pot/master/world_bank.json.gz

In [ ]:
#Download file here

## Step 3 - Create a Dataframe 

Now you can create the Dataframe, note that if you wanted to see where you downloaded the file you can run !pwd or !ls

To create the Dataframe type:<br>

example1_df = sqlContext.read.json("world_bank.json.gz")

In [ ]:
#Create the Dataframe here:

<h3>We can look at the schema with this command:</h3>

Type: <br>
example1_df.printSchema()

In [ ]:
#Print out the schema

Dataframes are a subset of RDDs and can be similarly transformed.  You can map and filter them.
<br>Take a look at the first two rows of data using the [take()](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html?highlight=take#pyspark.sql.DataFrame.take) function.

In [ ]:
#Use take on the DataFrame to pull out 2 rows

## Step 4 - Register a Table
The function is: DataframeObject.registerTempTable("name_of_table").
<br>
Create a table named "world_bank"

In [ ]:
#Create the table to be referenced via SparkSQL

## Step 5 - Writing SQL Statements

Using SQL Get the first 2 records
sqlContext.sql("SQL Statement") will return a Dataframe with the records

In [ ]:
#Use SQL to query the table and print the output

In [ ]:
#Extra credit, take the DataFrame you created with the two records and convert it into a Pandas DataFrame

In [ ]:
#Now calculate a simple count based on a group, for example "regionname"

In [ ]:
# With JSON data you can reference the nested data.  
# If you look at Schema above you can see that sector.Name is a nested column.
# Select that column and limit to reasonable output

## Step 6 - Creating Simple Graphs

Create some simple graphs using the Pandas library
#### First create a SQL statement that is a reasonable number of items
For example, you can count the number of projects (rows) by countryname
<br>or in other words: 
<br>count(*), countryname from table group by countryname

In [ ]:
# Load the libraries
%matplotlib inline 
import matplotlib.pyplot as plt, numpy as np

Write the sql statement and look at the data, remember to add .toPandas() for a formatted display. An easier option is to create a variable and set it to the SQL statement.
For example:<br>

query = "select count(*) as Count, countryname from world_bank group by countryname"
chart1_df = sqlContext.sql(query).toPandas()
print chart1_df

In [ ]:
#Now take the variable (or same sql statement) and use the method:
# .plot(kind='bar', x='countryname', y='Count', figsize=(12, 5)) to plot a graph

## Step 7 - Creating a DataFrame 
Try adding a schema to an RDD to create a DataFrame.<br>
First, you need to create an RDD. This can be done with a loop or as
seen in the instructor's example, or more simply by assigning values to an array.

In [ ]:
# Default array defined below. Feel free to change as desired.
array=[[1,1,1],[2,2,2],[3,3,3],[4,4,4],[5,5,5]]
my_rdd = sc.parallelize(array)
my_rdd.collect()

Second, you need to add a schema to the RDD you created in the previous code block. <br> 
Use first the StructField method, following these steps:<br>
1- Define your schema columns as a string<br>
2- Build the schema object using StructField<br>
3- Apply the schema object to the RDD<br>

Note: The cell below is missing some code and will not run properly until you add in some missing parts.

In [ ]:
from pyspark.sql.types import *

# The schema is encoded in a string. Complete the string below
schemaString = ""

# MissingType() should be either StringType() or IntegerType(). Please replace as required.
fields = [StructField(field_name, MissingType(), True) for field_name in schemaString.split()]
schema = StructType(fields)

# Apply the schema to the RDD.
schemaExample = sqlContext.createDataFrame(use_your_rdd_name_here, schema)

# Register the DataFrame as a table. Add table name below as parameter to registerTempTable.
schemaExample.registerTempTable("")

Thirdly, write some SQL statements to verify that you successfully added a schema to your RDD

In [ ]:
#Run some SQL statements on your newly created DataFrame and display the output

## Step 8
### Reading from an external data source
If you have time, this is a good example to show you how to read from other datasources.  <br><br>
In a different browser tab, create a dashDB service, add credentials and come back to this notebook. <br>Each dashDB instance in bluemix is created with a "GOSALES" set of tables which we can reuse for the purpose of this example. (You can create your own table if you wish...)<br><br>Replace the Xs in the cell below with proper credentials and verify access to dashDB tables.<br><br>
You can read from any database that you can connect to through jdbc.  Here is the [documentation](http://spark.apache.org/docs/latest/sql-programming-guide.html#jdbc-to-other-databases)

In [ ]:
salesDF = sqlContext.read.format('jdbc').\
          options(url='jdbc:db2://dashdb-entry-yp-xxxxx.services.dal.bluemix.net:50000/BLUDB:user=xxxxx;password=xxxxxx;',\
                  dbtable='GOSALES.BRANCH').load()
salesDF.show()